{% if site.disqus-name %}
	<div class="page-content">
		<div class="wrapper">
			<div id="disqus_thread"></div>
			<script>
				var disqus_config = function () {
					this.page.url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';
					this.page.identifier = '{{ page.id }}';
				};
				(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://{{ site.disqus-name }}.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Habilite o JavaScript no seu navegador para visualizar <a href="https://disqus.com/?ref_noscript">comentários do Disqus.</a></noscript>
		</div>
	</div>
{% endif %}