<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  <link href="https://fonts.googleapis.com/css?family=Montserrat|Muli" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?{{ 'now' | date: '%s' }}">
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/favicon.png" />

  {% include google-analytics.html %}
</head>
