---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <script>window.baseurl = '{{ site.baseurl }}';</script>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    {% include contato.html %}

    <script>
      Array.prototype.forEach.call(
        document.querySelectorAll('.sliding-box'),
        function(box) { box.classList.add('below-screen') }
      );
    </script>

    <script src="{{ site.baseurl }}/js/main.js?{{ 'now' | date: '%s' }}"></script>

    <script>
      Array.prototype.forEach.call(
        document.querySelectorAll('.sliding-box'),
        function(box) { 
          setTimeout(function() { box.classList.add('sliding-box-on') } , 1)
        }
      );
    </script>

  </body>

</html>
